body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #aa1010;
}

header {
    background-color: #998d8d;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
   
}

section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
}

h2 {
    color: #2407a1;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

p {
    line-height: 1.6;
    margin-bottom: 10px;
}

ul, ol {
    padding-left: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
}